[block: main]
<div class="well well-sm">
	<strong>Carousel Admin</strong><br />
	<ul class="nav nav-list">
		<li><a href="admin.php?module=carousel&amp;view=add">Add Carousel Items</a></li>
		<li><a href="admin.php?module=carousel&amp;view=manage">Manage Items</a></li>
	</ul>
</div>
[/block: main]
