[block: main]
<div class="box">
	<div class="head">Articles Admin</div>
	<div class="body list">
	<ul class="list-group">
		<li class="list-group-item"><a href="admin.php?module=add_article">Add Article</a></li>
		<li class="list-group-item"><a href="admin.php?module=articles&amp;view=manage">Manage Articles</a></li>
		<li class="list-group-item"><a href="admin.php?module=reviewqueue">Editor Posts Awaiting Review {:review_count}</a></li>
		<li class="list-group-item"><a href="admin.php?module=articles&amp;view=Submitted">Managed Submitted Articles {:submitted_count}</a></li>
		<li class="list-group-item"><a href="admin.php?module=comment_reports">Manage Comments {:spam_count}</a></li>
		<li class="list-group-item"><a href="admin.php?module=articles&amp;view=drafts">Manage Drafts {:draft_count}</a></li>
		<li class="list-group-item"><a href="admin.php?module=corrections">Correction Suggestions {:correction_count}</a></li>
	</ul>
	</div>
</div>
[/block: main]
