[block: top]
			<!-- about us page -->
				<div class="box">
					<div class="head">About Us</div>
					<div class="body group">We are just a small group of passionate Linux fans who wish to bring you nothing but the best in Linux gaming news. Started by Liam Dawe on his own in 2009. Want to get in touch with us? See how <a href="https://www.gamingonlinux.com/contact-us/">on this page</a>. You can also find many ways to <a href="/support-us">support us on this page</a>.<br />
						<br />
						The website source code is open source: <a href="https://gitlab.com/liamdawe/gamingonlinux">https://gitlab.com/liamdawe/gamingonlinux</a></div>
				</div>
				<div class="box"><div class="subhead">Main Editors</div></div>
[/block: top]

[block: contributors_top]
				<div class="box"><div class="subhead">Contributors</div></div>
[/block: contributors_top]

[block: row]
				<div class="box comment">
						<div class="subhead"><a href="/profiles/{:user_id}">{:username}</a></div>
						<div class="body group">
							<div class="comment-author hide-xsmall">
								<img class="avatar" alt="" src="{:author_picture}" />
							</div>
							<div class="comment-body">{:bio} <br /><span class="badge blue"><a href="/index.php?module=search&author_id={:user_id}">See my articles</a></span></div>
						</div>
					</div>
[/block: row]

[block: row_nopic]
				<div class="box">
					<div class="subhead"><a href="/profiles/{:user_id}">{:username}</a></div>
					<div class="body group">
							{:bio} <br /><span class="badge blue"><a href="/index.php?module=search&author_id={:user_id}">See my articles</a></span>
						</div>
				</div>
[/block: row_nopic]