[block: category]
<div class="box">
	<div class="head">Category: {:category}</div>
</div>
[/block: category]

[block: multi]
<div class="box">
	<div class="head">Below you can search based on article tags</div>
</div>
[/block: multi]

[block: articles_top]
<div class="box">
	<div class="body group">
		<form class="gol-form" method="get" action="/index.php?module=articles&amp;view=cat">
			<input type="hidden" name="module" value="articles" />
			<input type="hidden" name="view" value="multiple" /> 
			Pick categories (CTRL+click for multiple): 
			<select class="ays-ignore" name="catid[]" multiple>{:options}</select>
			<label><input type="radio" name="type" value="any" {:any_check}/>Match any</label> 
			<label><input type="radio" name="type" value="all" {:all_check}/>Match all tags</label> &nbsp;
			<button type="submit">View</button>
		</form>
	</div>
</div>
[/block: articles_top]

[block: article_row]
				<!-- Article -->
				<div class="article group">
					<div class="image group">
					<a href="{:article_link}">
						{:top_image}
					</a>
					</div>
					<div class="info group">
						<h1 class="title"><a href="{:article_link}">{:title}</a></h1>
						<div class="meta">By <strong>{:username}</strong>, {:date}<div class="comments-pip"><a href="{:article_link}/#comments">{:comment_count}</a></div></div>
						<div class="desc">{:text} {:edit_link} {:editors_pick_link}</div>
						<div class="tags">
							<ul>
								{:categories_list}
							</ul>
						</div>
					</div>
				</div>
[/block: article_row]

[block: bottom]
{:pagination}
[/block: bottom]
