[block: top]
<div class="box">
	<div class="head">Linux game release calendar, due later this month: {:this_month} {:editor_links}</div>
	<div class="body group"><img src="/templates/default/images/cal.gif" alt="" /> We have an ical too, <a href="https://www.gamingonlinux.com/calendar_ical.php">copy this url</a>. Link to it in your calendar apps to stay up to date!<br />
	Some games may already be available on certain stores, we track <strong>Steam</strong> as the main store here since it's the most popular.
	<br /><strong>Best Guess FAQ</strong>: It's an educated guess, nothing more.</div>
</div>
[/block: top]

[block: submit]
<div class="box">
	<div class="collapse_container">
		<div class="collapse_header">
			<span>&#8594;Submit Game: Click me!&#8592;</span>
		</div>
		<div class="collapse_content">
			<div class="body group cal">
				<form method="post" action="index.php?module=calendar">
					<strong>Please Note:</strong> We only accept English sources of release dates to make it easier when reviewing.<br />
					Game Name: <br />
					<input type="text" name="name" /><br />
					Official site: <br />
					<input type="text" name="link" />
					Release Date: </a><br />
					<input name="date" id="datepicker" type="text" />
					<script>
					var picker = new Pikaday({
				        field: document.getElementById('datepicker'),
				        format: "DD-MM-YYYY",
						showTime: false
				    });</script>
					Best guess <em>If there isn't an exact date!</em> <input type="checkbox" name="guess" /><br />
					Genres:<br />
					<select tabindex="-1" multiple="" name="genre_ids[]" id="genres" class="populate select2-offscreen"></select>
					<button formaction="index.php?module=calendar" name="act" value="submit" type="submit">Submit Game</button>
				</form>
			</div>
		</div>
	</div>
</div>
[/block: submit]

[block: picker]
<div class="box">
	<div class="head">Pick a year and month:</div>
	<div class="body form-group">
		<form method="get">
			<input type="hidden" name="module" value="calendar" />
			<div class="group">
				<div class="col-5">
					<select name="year">{:options}</select>
				</div>
				<div class="col-5">
					<select name="month">{:month_options}</select>
				</div>
				<div class="col-2">
					<button type="submit">Change</button>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="box">
	<div class="head">
		<span class="badge"><a href="/index.php?module=calendar&year={:prev_year}&month={:prev}">&lt; Prev</a></span> {:month} <span class="badge"><a href="/index.php?module=calendar&year={:next_year}&month={:next}">Next &gt;</a></span> <a href="/index.php?module=calendar&today">Jump to today</a>
	</div>
</div>
[/block: picker]

[block: head]
<div class="box">
	<table class="sales-table calendar-table">
		<thead>
			<tr><th colspan="2">Name</th><th>Links</th></tr>
		</thead>
[/block: head]

[block: day]
	{:today_anchor}
	<tbody><tr {:today_css} class="calendar-day"><td colspan="3" width="100%">{:group_date} {:today_text}</td></tr></tbody>
	<tbody class="calendar-items">
[/block: day]

[block: item]
		<tr>
			<td width="15%;">{:small_pic}</td>
			<td width="45%;">{:edit}{:best_guess} {:name} {:dlc}<br />
			<small>Tags: {:genre_list} {:suggest_link}</small>	
			</td>
			<td width="40%;">{:links}</td>
		</tr>
[/block: item]

[block: day_end]
	</tbody>
[/block: day_end]

[block: bottom]
	</table>
</div>
[/block: bottom]
