[block: editor]
<a id="{:anchor_name}"></a><strong>Make sure your post follows our rules, <a href="{:url}index.php?module=rules" target="_blank">click here for them</a>.</strong><br />
	<div id="bar_{:editor_id}" class="octus-editor group">
        	<div class="styles group">
			    <ul>
				<li data-tag="b" class="bold" accesskey="B">B</li>
				<li data-tag="i" class="italic" accesskey="I">I</li>
				<li data-tag="u" class="underline" accesskey="U">U</li>
				<li data-tag="s" class="strike">S</li>
			    </ul>
			    <ul>
				<li data-tag="img">img</li>
				<li data-tag="url">url</li>
				<!-- <li id="full-screen-bbcode">Full Screen</li> not finished -->
			    </ul>
			    <ul>
				<li data-tag="code">code</li>
				<li data-tag="list">list</li>
				<li data-tag="quote">quote</li>
				<li data-tag="spoiler">spoiler</li>
			    </ul>
			    <ul>
				<li class="dropdown">
				    Smiley
				    <ul class="smiley">
				        <li data-snippet=":&gt;&lt;:" style="background-image: url({:this_template}/images/emoticons/angry.png);">Angry</li>
				        <li data-snippet=":'(" style="background-image: url({:this_template}/images/emoticons/cry.png);">Cry</li>
				        <li data-snippet=":dizzy:" style="background-image: url({:this_template}/images/emoticons/dizzy.png);" >Dizzy</li>
				        <li data-snippet=":D" style="background-image: url({:this_template}/images/emoticons/grin.png);">Grin</li>
				        <li data-snippet="^_^" style="background-image: url({:this_template}/images/emoticons/happy.png);">Happy</li>
				        <li data-snippet="&lt;3" style="background-image: url({:this_template}/images/emoticons/heart.png);">Heart</li>
				        <li data-snippet=":huh:" style="background-image: url({:this_template}/images/emoticons/huh.png);">huh</li>
				        <li data-snippet=":|" style="background-image: url({:this_template}/images/emoticons/pouty.png);">Pouty</li>
				        <li data-snippet=":(" style="background-image: url({:this_template}/images/emoticons/sad.png);">Sad</li>
				        <li data-snippet=":O" style="background-image: url({:this_template}/images/emoticons/shocked.png);">Shocked</li>
				        <li data-snippet=":sick:" style="background-image: url({:this_template}/images/emoticons/sick.png);">Sick</li>
				        <li data-snippet=":)" style="background-image: url({:this_template}/images/emoticons/smile.png);">Smile</li>
				        <li data-snippet=":P" style="background-image: url({:this_template}/images/emoticons/tongue.png);">Tongue</li>
				        <li data-snippet=":S:" style="background-image: url({:this_template}/images/emoticons/unsure.png);">Unsure</li>
				        <li data-snippet=":woot:" style="background-image: url({:this_template}/images/emoticons/w00t.png);">Woot!</li>
				        <li data-snippet=":whistle:" style="background-image: url({:this_template}/images/emoticons/whistle.png);">Whistle</li>
				        <li data-snippet=":wink:" style="background-image: url({:this_template}/images/emoticons/wink.png);">Wink</li>
				        <li data-snippet=":wub:" style="background-image: url({:this_template}/images/emoticons/wub.png);">Wub</li>
				    </ul>
				</li>
			    </ul>
		</div>
			<noscript><div class="no-script">Your JavaScript is off, to use the BBCode options please turn it on. Commenting will still work without! :)</div></noscript>
			<div class="textarea group">
			    <textarea placeholder="Enter comment here..." name="{:name}" class="bbcode_editor" rows="3" cols="17" {:ays_ignore} id="{:editor_id}" {:disabled} >{:content}</textarea>
			</div>
	</div>
[/block: editor]

[block: simple_editor]
<div class="simple_ajax_editor" style="border-width: 1px;
border-style: solid;
border-color: rgb(135, 138, 140);
border-image: initial;
border-radius: 4px;
background: rgb(255, 255, 255);">
	<textarea style="min-height: 122px; border: none; border-style: none; outline: none;" name="{:name}" class="bbcode_editor" rows="3" cols="17" {:ays_ignore} id="{:editor_id}">{:content}</textarea>
	<div style="position: sticky;
    bottom: 0px;
    z-index: 1;
    opacity: 1;
    background-color: rgb(246, 247, 248);
    display: flex;
    flex-direction: row-reverse;
    -webkit-box-align: center;
    align-items: center;
    height: 36px;
    border-radius: 0px 0px 4px 4px;">{:buttons}</div>
</div>
[/block: simple_editor]