[block: ckeditor]
<script>	
CKEDITOR.on('instanceCreated', function(e) {
	e.editor.on('change', function(event) {
		var textarea = event.editor.element.$;
		$(textarea).val(event.editor.getData().trim());
		$(textarea.form).trigger('checkform.areYouSure');
	});
})

editor = CKEDITOR.replace( 'ckeditor_gol', {
customConfig: '/includes/jscripts/ckeditor_config.js',
});
editor.addCommand("spoiler", {
	exec: function(edt) {
		edt.insertHtml('<div class="collapse_container"><div class="collapse_header"><span>Spoiler, click me</span></div><div class="collapse_content"><div class="body group">hidden text here</div></div></div>');
	}
});
editor.ui.addButton('spoilerbutton', {
label: "Spoiler",
command: 'spoiler',
toolbar: 'insert',
icon: '/templates/default/images/spoiler.png'
});
CKEDITOR.on('instanceReady', function(evt)
{
	// Note nested arrays
	// http://docs.ckeditor.com/#!/api/CKEDITOR.filter-method-addTransformations
	// This rule will add the target="_blank" attribute to all links that
	// do not have it.
	evt.editor.filter.addTransformations([
	[{
		element: 'a',
		left: function( el ) {
			return el.target !== '_blank';
		},
		right: function( el, tools ) {
			el.attributes.target = '_blank';
		}
	}]/* WAITING ON CKEDITOR BUGS FOR THIS
	,
	[{
		element: 'a',
		left: function( el ) {
			return el.attributes['class'].indexOf('article-link') !== -1;
		},
		right: function( el, tools ) {
			el.attributes['class'] += ' article-link';
		}
	}]*/
	]);
});
</script>
[/block: ckeditor]

[block: footer]
</div>
<footer id="footer" class="group smooth grid">
	<div id="footer-wrapper" class="row">
		<div class="container">
			<div id="social" class="col-8">
				<ul>
					<li><a title="Twitter" class="tooltip-top" href="https://www.twitter.com/gamingonlinux" target="_blank"><img alt src="/templates/default/images/network-icons/white/twitter.svg" width="30" height="30" /></a></li>
					<li><a title="Telegram" class="tooltip-top" href="https://t.me/linux_gaming" target="_blank"><img alt src="/templates/default/images/network-icons/white/telegram.svg" width="30" height="30" /></a></li>
					<li><a title="Discord" class="tooltip-top" href="https://discord.gg/0rxBtcSOonvGzXr4" target="_blank"><img alt src="/templates/default/images/network-icons/white/discord.svg" width="30" height="30" /></a></li>
					<li><a title="Steam Community" class="tooltip-top" href="https://steamcommunity.com/groups/gamingonlinux" target="_blank"><img alt src="/templates/default/images/network-icons/white/steam.svg" width="30" height="30" /></a></li>
					<li><a title="Twitch" class="tooltip-top" href="https://www.twitch.tv/gamingonlinux" target="_blank"><img alt src="/templates/default/images/network-icons/white/twitch.svg" width="30" height="30" /></a></li>
					<li><a title="Youtube" class="tooltip-top" href="https://www.youtube.com/user/GamingOnLinuxcom" target="_blank"><img alt src="/templates/default/images/network-icons/white/youtube.svg" width="30" height="30" /></a></li>
					<li><a title="Facebook" class="tooltip-top" href="https://www.facebook.com/gamingonlinux" target="_blank"><img alt src="/templates/default/images/network-icons/white/facebook.svg" width="30" height="30" /></a></li>
					<li><a {:masto_rel} title="Mastodon" class="tooltip-top" href="https://mastodon.social/@gamingonlinux" target="_blank"><img alt src="/templates/default/images/network-icons/white/mastodon.svg" width="30" height="30" /></a></li>
					{:article_rss}
					{:forum_rss}
				</ul>
			</div>
			<div id="about" class="col-4">
				<a href="{:url}">GamingOnLinux &copy; {:year}</a> - <a href="{:url}privacy.html">Privacy</a>, <a href="{:url}ethics.html">Ethics</a>
			</div>
		</div>
	</div>
</footer>
<script src="{:url}includes/jscripts/GOL/twitch_checker.js?v=3"></script>
<script>twitch_check(); setInterval ( "twitch_check()", 60000 );</script>
<script src="{:url}includes/jscripts/jquery.timeago.js"></script>
<script src="{:url}includes/jscripts/jquery.qtip.min.js"></script>

<script>
	jQuery("abbr.timeago").timeago('init');
	jQuery("time.timeago").timeago();
	jQuery('.tooltip-top').qtip({
	    position: {
	        my: 'bottom center',
	        at: 'top center'
	    },
	    style: {
	        classes: 'qtip-bootstrap qtip-shadow'
	    }
	});

	var sale_search_options = {
		url: function(phrase) { 
				return "/includes/ajax/gamesdb/search_games.php?q=" + phrase + "&type=sales&format=json";    
		},

		getValue: "data",
		adjustWidth: false,

		ajaxSettings: {
			dataType: "json"
		},
		requestDelay: 300,
		list: {
			onClickEvent: function() {
				var replaced = $("#sale-search").val().replace(/ /g, '+');
			}	
		}
	};

	var free_search_options = {
		url: function(phrase) { 
				return "/includes/ajax/gamesdb/search_games.php?q=" + phrase + "&type=free&format=json";    
		},

		getValue: "data",
		adjustWidth: false,

		ajaxSettings: {
			dataType: "json"
		},
		requestDelay: 300,
		list: {
			onClickEvent: function() {
				var replaced = $("#free-search").val().replace(/ /g, '+');
			}	
		}
	};

	var all_search_options = {
		url: function(phrase) { 
				return "/includes/ajax/gamesdb/search_games.php?q=" + phrase + "&type=all&format=json";    
		},

		getValue: "data",
		adjustWidth: false,

		ajaxSettings: {
			dataType: "json"
		},
		requestDelay: 300,
		list: {
			onClickEvent: function() {
				var replaced = $("#all-games-search").val().replace(/ /g, '+');
			}	
		}
	};

$("#sale-search").easyAutocomplete(sale_search_options);
$("#free-search").easyAutocomplete(free_search_options);
$("#all-games-search").easyAutocomplete(all_search_options);
</script>
<script src="{:url}includes/ckeditor/ckeditor.js?v=4.13"></script>
<script src="{:url}includes/jscripts/Chart.min.js?v=2.7.2"></script>
<script src="{:url}includes/jscripts/sorttable.min.js"></script> 
<script src="{:url}includes/jscripts/clipboard/clipboard.min.js"></script>
{:ckeditor_js}
{:editor_js}
{:user_chart_js}
</body>
</html>{:debug}
[/block: footer]
