[block: vote_popover]
<div class="hidden" style="display:none">
	<div id="wrap">
	    <p>Your vote has been registered!<br /><br /><strong>Be sure to tell people you voted</strong>: <br /><br /><a class="button small fnone" href="https://twitter.com/intent/tweet?text=I just voted in the GamingOnLinux GOTY Awards%20%23Linux%20%23Gaming&url=http://www.gamingonlinux.com/goty.php&via=gamingonlinux" target="_blank"><img src="/templates/default/images/network-icons/twitter.svg" /></a></p>
	</div>
</div>
[/block: vote_popover]

[block: login]
<div class="box"><div class="body group">You need to <a href="/index.php?module=register">register</a> and <a href="/index.php?module=login">login</a> to be able to vote!</div></div>
[/block: login]

[block: main]
		<div id="content" class="container group">
			<div class="col-12">
[/block: main]

[block: top]
			<img src="/templates/default/images/goty.svg" alt />
			<div class="box">
				<div class="head">GamingOnLinux's GOTY Awards, Total Votes: {:total_votes}</div>
				<div class="body group">Welcome to the GOL GOTY awards, where you can vote to support your favourite games released for Linux in 2019. You only get {:votes_per_category} {:vote_times_text} per category, but you can reset it if you change your mind!<br />
<br />
Early Access and Open Source games have their own category, to both be fair to them and to other games.<br />
<br />
This is for <strong>Native Linux</strong> games only.
{:voting_text}</div>
			</div>
[/block: top]

[block: top10_bread]
	<div class="box">
		<ul class="breadcrumb">
			<li><a href="/goty.php">Back to GOTY home</a></li>
			<li>Viewing the top 10 games</a></li>
			<li><a href="/goty.php?module=category&amp;category_id={:category_id}">{:category_name}</a></li>
		</ul>
	</div>
[/block: top10_bread]

[block: top10]
<div class="box">
	<div class="head">Top 10 in {:category_name}</div>
</div>
<div class="goty">
[/block: top10]

[block: topchart]
{:chart}
[/block: topchart]

[block: top_games]
<div class="box">
	<div class="head">Winners in {:category_name} | <a href="goty.php?view=top10&category_id={:category_id}">View top 10 games</a></div>
[/block: top_games]

[block: top_row]
	<div class="col-4">
		<div>
		<form method="post" action="{:url}goty.php?game_id={:game_id}&category_id={:category_id}">
		{:vote_button}
		{:game_name}<br />
		Votes: {:game_counter}<br />
		{:leaderboard}
		Direct link: <a href="{:url}goty.php?module=direct&amp;game_id={:game_id}&amp;category_id={:category_id}">Click me</a>.
		</form>
		</div>
	</div>
[/block: top_row]

[block: top_end]
</div>
<div class="clearer"></div>
[/block: top_end]

[block: add]
			<div class="box">
				<div class="head">Add a game</div>
				<div class="body group">
					Nominate something:<br />
					<form method="post"><select class="game_picker ays-ignore" data-type="all" data-picker="{:picker}" name="game_id"></select><input type="hidden" name="category" value="{:category}" /> <button type="submit" formaction="goty.php" name="act" value="add">Add Game</button></form>
					<em>Not finding your choice pick? You can either <a href="/index.php?module=items_database&amp;view=submit">submit it</a> for inclusion in our database or <a href="/index.php?module=email_us">send us a tip</a> to add it to our database!</em>
				</div>
			</div>
[/block: add]

[block: category_bread]
	<div class="box">
		<ul class="breadcrumb">
			<li><a href="/goty.php">Back to GOTY home</a></li>
			<li>Viewing category</a></li>
			<li>{:category_name}</a></li>
		</ul>
	</div>
[/block: category_bread]

[block: description]
<div class="box"><div class="body group">{:category_description}</div></div>
[/block: description]

[block: filters_list]
<div class="box">
	<div class="head">Pick your game and vote!</div>
	<div class="body group">Filter: <a href="/goty.php?module=category&amp;category_id={:category_id}">Reset</a> <a href="/goty.php?module=category&amp;filter=misc&amp;category_id={:category_id}">#0-9</a> {:alpha_filters}</div>
</div>
{:reset_button}
<div class="goty">
[/block: filters_list]

[block: game_row]
<div class="col-4">
<div class="box"><div class="body group">
{:vote_button}
{:game_name}<br />
{:votes}
{:leaderboard}
Direct link: <a href="{:url}goty.php?module=direct&amp;game_id={:game_id}&amp;category_id={:category_id}">Click me</a>.
</div></div>
</div>
[/block: game_row]

[block: category_top]
<div class="box">
	<div class="head">Pick your category {:category_status_text}</div>
</div>
<div class="goty">
[/block: category_top]

[block: group]
<div class="box"><div class="subhead">{:group_name}</div></div>
[/block: group]

[block: goty_categories]
<div class="goty_categories">
[/block: goty_categories]

[block: category_column]
<div class="goty_column">
	<div class="box">
		<div class="body group">
			<a href="/goty.php?module=category&amp;category_id={:category_id}">{:category_name}</a>{:tick}
		</div>
	</div>
</div>
[/block: category_column]

[block: goty_categories_end]
</div>
[/block: goty_categories_end]

[block: games_bottom]
</div>
<br class="clearer" />
[/block: games_bottom]

[block: bottom]
</div></div>
[/block: bottom]
