[block: itemdb_navigation]
<div id="content" class="container group">
	<div class="col-12">
		<div class="box">
			<ul class="breadcrumb">
				<li class="active">Quick Links</li>
				<li><a href="/">News Home</a></li>
				<li><a href="/itemdb.php">Database Home</a></li>
				<li><a href="/sales.php">Sales Page</a></li>
				<li><a href="/itemdb.php?view=mainlist">View All</a></li>
			</ul>
		</div>
		<div class="box">
			<div class="body group">
				Welcome to the GamingOnLinux games list! We are currently tracking <strong>{:total}</strong> Linux Games, DLC and Emulators! Please be aware some links may be an affiliate link.
			</div>
		</div>
		<div class="box">
			<div class="body group">
				<form id="all-search-form" action="/itemdb.php"><input type="hidden" name="view" value="mainlist" /><input id="all-games-search" class="ays-ignore" name="q" type="search" placeholder="Search for a game by title..." /><input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" /></form>
			</div>
		</div>
	</div>
[/block: itemdb_navigation]

[block: featured]
	<div class="col-12">
		<div class="head">Random Featured</div>
		<div style="text-align: center; padding: 5px;">These randomised featured items are games we believe work well, <u>support Linux</u> and are worth trying!</div>
		{:featured}
	</div>
[/block: featured]

[block: new_top]
<div class="col-12">
	<div class="head">Newest</div>
	<div class="body group">Test</div>
</div>
[/block: new_top]

[block: top]
	<div class="col-9">
[/block: top]

[block: list_top]
		<div class="all-list">
		<div class="box"><div class="head">Games List - Total with current filters: {:filter_total}</div>
		<div class="body group"><small>Are we missing something? You can <a href="/index.php?module=items_database&amp;view=submit_item">submit it yourself</a>, or <a href="/index.php?module=email_us">send us a tip!</a></small></div></div>
			<table class="sales-table table-stripes-tbody">
			<thead>
				<tr><th colspan="2">Name</th><th>Links</th><th>License</th></tr>
			</thead>
[/block: list_top]

[block: row]
			<tbody>
			<tr>
				<td width="15%;">{:small_pic}</td>
				<td width="40%;">{:edit}<a href="/index.php?module=items_database&amp;view=item&amp;id={:id}">{:name}</a></td>
				<td width="40%;">{:links}</td>
				<td width="5%;">{:license}</td>
			</tr>
			<tr>
				<td class="td-free-games-tags" colspan="4"><small>Tags: {:genre_list} {:suggest_link}</small></td>
			</tr>
			</tbody>
[/block: row]

[block: genres]

[/block: genres]

[block: bottom]
			</table>
			{:pagination}
		</div>
[/block: bottom]

[block: filters]
	<div class="box"><div class="body group"><small>Are we missing something? You can <a href="/index.php?module=items_database&amp;view=submit_item">submit it yourself</a>, or <a href="/index.php?module=email_us">send us a tip!</a></small></div></div>
</div>
<div class="col-3">
	<form id="game_filters" name="all" method="get">
	<div class="box">
		<div class="head">Filters <a href="/itemdb.php">&#10005; Clear all filters</a></div>
		<div class="body list">
			<div class="filter-box">
				<div class="subhead filter-title"><a class="filter-link"><span class="caret-down"></span> Misc</a></div>
				<div class="filter-content">
					<ul>
					<li><label><input type="checkbox" name="misc[]" value="free_only"> Free Games Only</label></li>
					<li><label><input type="checkbox" name="misc[]" value="no_dlc"> No DLC</label></li>
					<li><select style="width: 150px; padding: 5px;" name="initial"><option value="">Starting initial</option> <option value="0-9">0-9</option> {:alpha_filters}</select></li>
					</ul>
				</div>
			</div>
			<div class="filter-box">
				<div class="subhead filter-title"><a class="filter-link"><span class="caret-down"></span> Genres</a></div>
				<div class="filter-content"><ul>{:genres_output}</ul></div>
			</div>
			<div class="filter-box">
				<div class="subhead filter-title"><a class="filter-link"><span class="caret-down"></span> License</a></div>
				<div class="filter-content"><ul>{:licenses_output}</ul></div>
			</div>
		</div>
	</div>
	</form>
</div>
</div>
[/block: filters]