[block: top]
	<nav class="navigation-main">
		<div class="container group">
			<div id="navigation-mobile" class="toggle-nav">
				<a href="#" onclick="return false;"></a>
				<div class="toggle-content" id="nav-hidden">
					<ul>
						{:user_link}
						{:sections_links}
						<li><a href="/index.php?module=search">Search Articles</a></li>
						<li><a href="/free-games/">Free Games</a></li>
						<li><a href="/sales/">Sales</a></li>
						<li><a href="/wiki/">Wiki</a></li>
						<li><a href="/contact-us/">Contact Us</a></li>
						<li><a href="/forum/">Forum</a></li>
						<li><a href="/irc/">IRC</a></li>
						<li><a href="https://discord.gg/0rxBtcSOonvGzXr4">Discord</a></li>
						<li><a href="/index.php?module=search">Search</a></li>
						<li><a href="/index.php?module=user_search">User search</a></li>
					</ul>
				</div>
			</div>
			<ul class="header-navbar">
				<li class="gol-icon"><a href="{:url}" title="GamingOnLinux Home"><img src="{:this_template}/images/{:icon}" width="35" height="35" alt="GamingOnLinux"></a></li>
				<li class="nav-title"><a href="{:url}">GamingOnLinux</a></li>
				<li class="dropdown hide-small">
					<a href="#" onclick="return false;">Sections <b class="caret-down"></b></a>
					<ul class="dropdown-menu">
						{:sections_links}
						<li><a href="/index.php?module=search">Search Articles</a></li>
						<li><a href="/free-games/">Free Games</a></li>
						<li><a href="/sales/">Sales</a></li>
						<li><a href="/index.php?module=crowdfunders">Crowdfunded Games List</a></li>
						<li><a href="/wiki/">Wiki</a></li>
					</ul>
				</li>
				<li class="dropdown hide-small">
					<a href="/contact-us/">Contact Us <b class="caret-down"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/email-us/">Email Us</a></li>
						{:submit_article_link}
					</ul>
				</li>
				<li class="hide-small"><a href="/forum/">Forum</a></li>
				<li class="hide-small"><a href="/irc/">IRC</a></li>
				<li class="hide-small"><a href="https://discord.gg/0rxBtcSOonvGzXr4">Discord</a></li>
			</ul>
			<div class="right-menu">
				<div id="search-button-nav" class="toggle-nav search-box">
					<a href="#"><img src="{:this_template}/images/search.png" alt=""/></a>
					<div class="toggle-content">
							<form method="get" action="{:url}index.php?module=search">
								<input type="hidden" name="module" value="search" />
								<input type="text" class="search-field ays-ignore" name="q" placeholder="Search Articles…" />
								<button type="submit" class="search-button">Go</button>
								<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" />
							</form>
					</div>
				</div>
				{:notifications_menu}
				{:user_menu}
			</div>
			<ul class="header-navbar fright header-search">
				<li>
					<form method="get" action="{:url}index.php?module=search">
					<input type="hidden" name="module" value="search" />
					<input type="text" class="search-field ays-ignore" name="q" placeholder="Search Articles…" />
					<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" />
					</form>
				</li>
			</ul>
		</div>
	</nav>
	<div id="body" class="smooth group">
[/block: top]

[block: user_menu]
<div class="toggle-nav user-box hide-small">
	<a href="#"><div class="avatar-container"><img id="nav-avatar" src="{:avatar}" alt="" width="35" height="35"></div></a>
	<div class="toggle-content">
		<ul>
			<li style="padding:5px;"><strong>{:username}</strong></li>
			<li class="divider"></li>
			<li><a href="{:profile_link}">View Profile</a></li>
			<li><a href="{:url}usercp.php">User CP</a></li>
			<li><a href="{:url}usercp.php?module=bookmarks">Bookmarks</a></li>
			{:admin_link}
			<li><a class="logout_link" href="{:url}index.php?Logout">Logout</a></li>
		</ul>
	</div>
</div>
[/block: user_menu]

[block: notifications]
<div id="alert_box" class="toggle-nav alerts-box right alerts-box-{:alert_box_type}">
	<a href="#" id="notifications_total">{:notifications_total} <img src="{:this_template}/images/comments/{:alerts_icon}.png" alt=""/></a>
	<div class="toggle-content">
		<ul>
			{:admin_line}
			{:comments_line}
			<li><a href="{:messages_link}">{:message_count} new messages</a></li>
		</ul>
	</div>
</div>
[/block: notifications]

[block: login_menu]
<div class="login-box hide-small">
	<ul>
		<li class="pull-right"><a href="{:url}index.php?module=login{:redirect}">Login</a></li>
		<li class="pull-right">Or</li>
		<li class="pull-right"><a href="{:url}index.php?module=register">Register</a></li>
	</ul>
</div>
[/block: login_menu]

[block: featured]
<div class="group" id="main-article">
    <div class="container">
        <div class="col-12">
            <div class="article group">
                <div class="featured-image group">
                    <a href="{:article_link}"><img alt="" src="{:url}uploads/carousel/{:image}" /></a>
					<div class="featured-title"><div class="featured-title-text"><a href="{:article_link}">{:title}</a></div></div>
                </div>
            </div>
        </div>
    </div>
</div>
[/block: featured]

[block: activation]
<div class="container">
	<div class="col-12">
		<div class="box">
			<div class="patreon head">Activate your account!</div>
			<div class="body group">
				 Your account isn't activated, to begin posting you need to activate your account via email! <a href="{:url}index.php?module=activate_user&amp;redo=1">Click here to re-send a new activation key</a>!
			</div>
		</div>
	</div>
</div>
[/block: activation]

[block: left]
		<div id="content" class="container group">
			<div class="{:articles_css} col-9">
[/block: left]

[block: left_end]
			<!-- end content column -->
			</div>
[/block: left_end]

[block: right]
	<!-- Sidebar -->
			<div class="col-3">
[/block: right]

[block: right_end]
			</div>
		</div>
[/block: right_end]
