[block: top]
<div class="box">
	<div class="head">Here you can search by article title</div>
	<div class="body group">
		<form class="gol-form" method="get" class="form-inline" action="{:url}index.php">
		<input type="hidden" name="module" value="search" />
		<input type="text" class="ays-ignore" name="q" value="{:search_text}" /> <button>Search</button><br />
		</form>
	</div>
</div>
[/block: top]

[block: bottom]
<small class="fright">Showing {:search_no_start} to {:end_no} of {:total} entries found.</small> {:pagination}
[/block: bottom]

[block: author_top]
<div class="box">
	<div class="head">Viewing articles by <a href="{:profile_link}">{:username}</a></div>
[/block: author_top]

[block: about_author]
	<div class="body group">{:author_bio} {:profile_fields}</div>
[/block: about_author]

[block: author_bottom]
</div>
<hr />
[/block: author_bottom]

[block: game_top]
<div class="box">
	<div class="head">Viewing articles tagged for <a href="/itemdb/{:appid}">{:app_title}</a></div>
	<div class="body group">This may not be all of them, it depends on articles being correctly tagged.</div>
</div>
[/block: game_top]