[block: top]
<div class="modal-container">
<div class="modal-title">Who likes this?</div>
<div class="modal-body">
<div class="flex-columns">
[/block: top]

[block: user_row]
<div class="flex-column-item">
	<img src="{:avatar}" height="20" width="20" alt="" /> <a href="{:profile_link}">{:username}</a>
</div>		
[/block: user_row]

[block: end]
</div>
</div>
[/block: end]