[block: direct_top]
<div class="box">
	<ul class="breadcrumb">
		<li><a href="/goty.php">Back to GOTY home</a></li>
		<li><a href="/goty.php?module=category&amp;category_id={:category_id}">{:category_name}</a></li>
		<li class="active">{:game_name}</li>
	</ul>
</div>
<div class="box"><div class="head">You have been linked directly to vote for {:game_name} in {:category_name}</div></div>
[/block: direct_top]

[block: direct_row]
<div class="box"><div class="body group">
{:game_name}<br />
{:votes}
{:leaderboard}
Direct link: <a href="{:url}goty.php?module=direct&amp;game_id={:game_id}&amp;category_id={:category_id}">Click me</a>.
{:vote_button}
</div></div>
[/block: direct_row]