[block: top]
<div class="box"><div class="head">Welcome to the User Control Panel</div></div>
[/block: top]

[block: premium]
<div class="box">
	<div class="subhead">You're a supporter&mdash;thank you!</div>
	<div class="body group">
		<p>Thank you for supporting GamingOnLinux! Thanks to people like you, we're able to provide fresh Linux gaming content for everyone to enjoy!</p>
		{:forum_link}
		{:end_date_info}
	</div>
</div>
[/block: premium]

[block: no_premium]
<div class="box">
	<div class="subhead">GOL Premium/Supporter</div>
	<div class="body group">
		<p>You are not currently supporting GamingOnLinux. You can support us on <a href="https://www.patreon.com/liamdawe">Patreon</a>, <a href="https://liberapay.com/gamingonlinux/">Liberapay</a> and <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=P85ZZX9W8HFMW">Paypal</a>. Subbing at least $4 a month will enable this for you!</p>
		Supporter features:
		<ul>
			<li>Supporter badge to show off.</li>
			<li>No adverts for you, ever! That's a promise!</li>
			<li>Patreon tiers may include extras too, other ways do not.</li>
		</ul>
		<p>In addition to the above, your support means we can continue full-time reporting while keeping our news free to read for everyone.</p>
		<p>If you do support us, but you're seeing this, make sure your "Supporter email" is set in the <a href="/usercp.php?module=email">Email section</a>, so we can match the accounts together.</p>
		<p><strong>Paid but not showing up?</strong></p>
		<p><u>Patreon</u>: If you are currently supporting us on Patreon, you've paid and it's not showing up. <a href="https://www.gamingonlinux.com/usercp.php?module=patreon">Head to this page</a> to refresh the status!</p>
		<p><u>PayPal</u>: The information from PayPal is refreshed every hour.</p>
		<p><u>Liberapay</u>: Currently we have no way to see usernames or emails on Liberapay, so if you wish to have a supporter status please use Patreon or Paypal subscriptions.</p>
		<p>Feel free to email us if you have any issues <a href="mailto:contact@gamingonlinux.com?Subject=Supporter%20query">contact@gamingonlinux.com</a>. </p>
	</div>
</div>
[/block: no_premium]

[block: main]
<div class="box">
	<div class="subhead">Social logins</div>
	<div class="body group">
		<form method="post" style="display: inline-block">
			Options: <label style="display: inline-block"><input type="checkbox" name="social_stay" style="display: inline-block" {:social_stay_check}/> Use cookies to stay logged in with the social logins?</label>
			<button type="submit" name="act" value="update_social_stay" formaction="{:url}usercp.php?module=home" style="display: inline-block">Update</button>
		</form>
	{:twitter_button}
	{:steam_button}
	{:google_button}
	</div>
</div>
<div class="box">
	<div class="subhead">Content preferences</div>
	<div class="body group">
		Do not show articles with any of these tags on the homepage:
		<form method="post" action="usercp.php?module=home">
			<select tabindex="-1" multiple="" name="bar_tags[]" id="bar-tag-select" style="width:300px" class="populate select2-offscreen"><option value="0">None</option>{:tags_list}</select>
			<button type="submit" name="act" value="bar_tags">Change</button>
		</form>
		Note: Sometimes articles might cover more than just what the tag represents like Editorials. You can view all articles regardless of this setting any time, with the "All News" link on the homepage (or <a href="https://www.gamingonlinux.com/all-articles/">click right here</a>).
	</div>
</div>
<div class="box">
	<div class="subhead">Profile Details</div>
	<div class="body group">
		<form class="gol-form" method="post" action="{:url}usercp.php?module=home">
			<label><strong>Select your preferred theme:</strong><br />
				<select name="theme">
					{:theme_options}
				</select>
			</label><br />
			<strong>Timezone</strong><br />
			{:timezone_list}
			{:profile_fields}
			<strong>Forum type</strong><br />
			<em>What type of forum do you want displayed?</em><br />
			<select name="forum_type">{:forum_types}</select><br />
			<strong>Articles &amp; Forum topics</strong><br />
			<label><input type="checkbox" name="daily_news" {:daily_check} /> Get a daily news digest emailed to you?</label><br />
			<input type="hidden" name="mailing_list_key" value="{:unsub_key}" />
			Article paging<br />
			<em>Display articles meant for multiple pages as one single page?</em><br />
			<select name="single_article_page"><option value="1" {:single_article_yes}>Yes</option><option value="0" {:single_article_no}>No</option></select><br />
			Comments &amp; forum posts per-page:<br />
			<select name="per-page">{:per-page}</select><br />
			Articles per-page, for homepage and category (tag) view:<br />
			<select name="articles-per-page">{:aper-page}</select><br />
			<br />
			<label for="bio">A little about you:</label>
			<textarea name="bio" cols="100" rows="10">{:bio}</textarea><br />
			{:submission_emails}
			<button type="submit" name="act" value="Update">Update</button>
		</form>
	</div>
</div>
[/block: main]
