/*
 * ------------------------------
 * Main content styling, for articles, comments etc
 * ------------------------------
 */
 
img {
   max-width: 100%;
}
a {
	color: #428BCA;
}

/* CK Editor specific stuff */

.cke_editable {padding: 10px;}

/* spoiler container */
.collapse_container {
	border:1px solid #d3d3d3;
}
.collapse_container .collapse_header {
    background-color:#d3d3d3;
    padding: 7px 10px;
    cursor: pointer;
    font-weight: bold;
}
.collapse_container .collapse_content {
    display: none;
    padding : 5px;
}

.cke_editable .collapse_container .collapse_content {
	display: block;
    padding : 5px;
}

/* misc elements */
.bbcodeblock, code {
	margin: 0px;
	border: 1px solid #DDD;
	background-color: #F8F8F8;
	border-radius: 3px;
	max-width: 100%;
	width: 100%;
	max-height: 400px;
	display: inline-block;
	white-space: pre;
	overflow: auto;
	vertical-align: middle;
	line-height: 0.6em;
	padding: 6px;
	font-family: monospace;
	box-sizing: border-box;
}

.special_container
{
	padding: 5px 10px;
	background: #eee;
	border: 1px solid #b4b4b4;
	text-align: left;
}

hr.content_split { 
	background-color: #fff;
	border-top: 2px dotted #8c8b8b;
}

.article table {border: 1px solid #2e2e2e;}

.ckeditor-html5-video video {
	max-width: 100%;
	height: auto;
}

table.center {    margin-left:auto; 
    margin-right:auto;}