@import 'reset';

body {
	background: #ffffff;
	color: #404040;
	font-family: 'Ubuntu', sans-serif;
	margin: 47px auto 0 auto;
	padding: 0px;
	word-wrap: break-word;
}

/*
 * ------------------------------
 * General CSS
 * ------------------------------
 */

.gol-form textarea, .gol-form input[type="text"], .gol-form input[type="text"]:disabled, .gol-form input[type="password"], .gol-form input[type="email"], .gol-form select {
	width: 100%;
} 
input[type="button"]:disabled, input[type="submit"]:disabled, input[type="reset"]:disabled
{
	background-color: #000;
	color: red;
	cursor: default;
}
input[type="text"][disabled] {
	 background-color: #ccc;
}
input[type="text"][readonly] {
	 background-color: #ccc;
}
textarea[disabled] {
	 background-color: #ccc;
}
button[disabled=disabled], button:disabled {
  background-color: #000;
  color: red;
cursor: default;
}
.fnone {float: none;}
.fleft {float: left;}
.fright {float: right;}
.container {
	margin: 0px auto;
	width: 960px;
}
.margin-top { margin-top: 7px; }
.margin-bottom { margin-bottom: 7px; }
.margin-left { margin-left: 7px; }
.margin-right { margin-right: 7px; }

.align-left { text-align: left; }
.align-right { text-align: right; }

.button img {
height: 18px;
margin-bottom: -3px;
}


/*
 * ------------------------------
 * Layout CSS
 * ------------------------------
 */
 /* Navbar */
.navigation-main {
		 position: fixed;
		 top: 0;
		 left: 0;
		 right: 0;
		 height: 49px;
		 z-index: 999;
		 background-color: #222;
	margin: 0 !important;
}
 .header-navbar {
		 list-style: none;
		 padding: 0;
		 margin: 0;
 }
 .nav-title a {
     font-weight: bold;
 }
 .header-navbar>li {
     float: left;
 }
 .header-navbar>.pull-right {
     float: right;
 }
 .header-navbar>li>a {
     display: block;
     color: #999;
     padding: 14px 5px 14px 10px;
 }
 .header-navbar>.active>a {
     color: #FFF;
     background-color: #000;
 }
 .header-navbar>li>a:hover {
     color: #FFF;
     text-decoration: none;
 }
 .header-navbar>.gol-icon>a {
     line-height: 0;
	 padding-top: 9px;
	 padding-right: 0px;
	 padding-bottom: 9px;
	 padding-left: 14px;
 }
.header-search {
	padding: 9px 0;
	margin-right: 5px;
}
 .header-search .search-field {
     width: 200px;
     background-color: #333;
     border: 1px solid #5c5c5c;
     outline: none;
     line-height: 19px;
     height: 30px;
     color: #fff;
     margin: 0;
 }
 .dropdown:hover .dropdown-menu {
     display: block;
 }
 .header-navbar .dropdown:hover .caret-down {
     border-top-color: #FFF;
 }
 .caret-down {
   display: inline-block;
   width: 0px;
   height: 0px;
   vertical-align: middle;
   border-top: 4px solid #999;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   content: "";
 }
 .caret-right {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: middle;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid #999;
	content: "";
}
 .dropdown {
     position: relative;
 }
.dropdown-menu {
    position: absolute;
    top: 49px;
    left: 0;
    z-index: 999;
    float: left;
    min-width: 150px;
    padding: 5px 0;
    margin: 0;
    list-style: none;
    text-align: left;
    background-color: #222;
    display: none;
    color: #999;
	box-shadow: 1px 1px 1px black;
	white-space: nowrap;
}
 .pull-right .dropdown-menu {
		 right: 0;
		 left: auto;
 }
 .pull-right {
		 float: right;
 }
 .dropdown-menu li {padding: 0 15px 2px;}
 .dropdown-menu a {
     line-height: 26px;
     color: #999;
     white-space: wrap;
 }
 .dropdown-menu li>a:hover, .dropdown-menu li>a:focus {
     text-decoration: none;
     color: #fff;
 }
/* toggle menus */
.right-menu{float: right; right: 0px;}
.toggle-content
{
	display: none;
	white-space: nowrap;
	position: absolute;
	right: 0;
	background: #222;
	box-shadow: 1px 1px 1px black;
	padding: 5px;
	box-sizing: border-box;
	word-wrap: normal;
	z-index: 999999;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     box-sizing: border-box;
}
.toggle-active {display: block;}
.toggle-content ul
{
	list-style: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: #999;
}
.toggle-content li
{
	margin: 0;
	padding: 0;
}
.toggle-content a
{
	display: block;
	color: #999;
	padding: 5px
	!important;
}
.toggle-content a:hover {color: #fff;}
/* search box */
.search-box {float: left; color: #999; line-height: 29px; background-color: #383838;}
.search-box:hover{background-color: #4B4B4B;}
.search-box a {padding: 10px; height: 29px; display: block; color: #999;}
.search-box:hover{cursor: pointer;}
#search-button-nav .toggle-content {width: 100%; border-top: 1px solid black; text-align: center; left: 0px;}
#search-button-nav input {width: calc(100% - 64px); display: inline-block; vertical-align: bottom;}
#search-button-nav .search-button {
	border: 1px solid #ddd;
	color: #444444;
	margin-bottom: 0px;
	padding: 7px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: .2em;
	height: 34px;
	vertical-align: baseline;
	display: inline-block;
}
/* alerts menu */
.alerts-box {position: relative; float: left; color: #999; line-height: 29px;}
.alerts-box-new{background-color: #609FA9;}
.alerts-box-new:hover{background-color: #6FA8B1;}
.alerts-box-normal{background-color: #383838;}
.alerts-box-normal:hover{background-color: #4B4B4B;}
.alerts-box a {padding: 10px; height: 29px; display: block; color: #999;}
.alerts-box:hover{cursor: pointer;}
/* user menu */
.user-box {position: relative; float: right; color: #999; background-color: #383838; height: 49px;}
.user-box a {display: block; padding-left: 5px; padding-right: 5px;}
.user-box:hover {background-color: #4B4B4B;}
/* getting the avatar to align in the middle */
.avatar-container {height: 49px;}
.avatar-container:before {content: ' '; display: inline-block; vertical-align: middle; height: 100%;}
#nav-avatar {display: inline-block;vertical-align: middle;}
.login-box {position: relative; float: right; right: 0px; color: #999; height: 49px; background-color: #2D2D2D;}
.login-box ul {	list-style: none; list-style-type: none; margin: 0; padding: 0;}
.login-box li {line-height: 49px;}
.login-box li a {padding: 5px; color: #999;}
.login-box li a:hover {padding: 5px; color: #fff;}
.divider {
	width: 100%;
	height: 1px;
	padding: 0px !important;
	margin: 9px 0;
	overflow: hidden;
	background-color: #383838;
}

/* Mobile Navigation */
#navigation-mobile {
  background-image: url("/templates/default/images/menu.png");
  background-image: url("/templates/default/images/menu.svg"), url("/templates/default/images/menu.png");
  background-position: center center;
  background-repeat: no-repeat;
  color: #ffffff;
  display: none;
  float: right;
  overflow: hidden;
	height: 49px;
	width: 50px;
}
#navigation-mobile .toggle-content {width: 100%; border-top: 1px solid black; text-align: left;}
#navigation-mobile a {display:block; width: 100%; height: 100%;}
#navigation-mobile ul {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    padding-left: 3px;
}
#navigation-mobile li:hover {
	background-color: #428BCA;
}

/* Body */
#body {
	position: relative;
}
#body #content {
	padding: 14px 0 7px;
}

/* Footer */
#footer {
	background: #222222;
	color: #ffffff;
	overflow: hidden;
	clear: both;
}
#footer #footer-wrapper {
	padding: 21px 0;
}
#footer #footer-wrapper span {
	display: block;
	font-size: 35px;
	margin-bottom: 14px;
}
#footer #social ul {
	list-style: none;
	padding: 0;
}
#footer #social ul li {
	background: #333333;
	float: left;
	margin-right: 1px;
	margin-bottom: 1px;
	padding: 0;
}
#footer #social ul li:hover {
	background: #444444;
}
#footer #social ul li > a {
	display: inherit;
	padding: 15px;
}
#footer #about {
	text-align: right;
	line-height: 72px;
}
#footer #about a {
	color: #ffffff;
}

 /* Page CSS */
.head {
	background: #222222;
	color: #ffffff;
	font-weight: bold;
	padding: 7px 10px;
}

.head a {
	color: #ffffff;
}

/* mainly for pagination inside head block */
.head-list span {
	border: 1px solid #666;
	padding: 3px;
	margin-left: -1px;
}
.head-list a {color:inherit;}
.head-list span:hover, .head-list span.active {
	background: #444;
}
.head-list .pagination-disabled
{
 background: #444 !important;
 pointer-events: none;
}
.head-list form {display: inline;}
.head-list select {padding: 3px; margin: 0; border: 0; background: #474747; color: #eee; border: 1px solid #666;}
.head-list-position {float: right;}

/* Universal Box */
.box {
	margin-bottom: 7px;
}

.box.message {
	border: 1px solid #cccccc;
	border-radius: 2px;
}

.box.message > .head
{
	background: #bcdff1;
	color: #31708f;
}

.box.error > .head {
	background: #ebcccc;
	color: #a94442;
}

.box.warning > .head {
	background: #faf2cc;
	color: #8a6d3b;
}

.warning a:link {color: #000000;}

.box .subhead {
    background: #d2d2d2;
	padding: 5px 8px;
	box-sizing: border-box;
}

.box .subhead a:hover {
    text-decoration: underline;
}

.box .body {
	background: #efefef;
	padding: 10px;
}
.box .body.list, .box .body.no-pad {
	padding: 0;
}
.box .body.list ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.box .body.list ul li {
	border-bottom: 1px solid #cccccc;
	margin: 0;
	padding: 10px;
}
.box .body.list ul li a {
	text-decoration: none;
}
.box .body.list.noblock ul li a {
	display: inline;
}
.box .body.list ul li:last-child {
	border: none;
}

.body.list > ul li.list-group-item a {
    display: inline;
}

#content .chatList ul li a {
	display: inline-block;
}

.breadcrumb {
padding: 8px 15px;
list-style: none;
background-color: #f5f5f5;
border-radius: 4px;
}
.breadcrumb>li {
display: inline-block;
}
.breadcrumb > li + li:before {
    color: #CCCCCC;
    content: "/ ";
    padding: 0 5px;
}

select.pagination {
    padding: 0px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}

/* Articles */
.article {
	background: #efefef;
	margin: 0 0 9px 0;
}
.article .featured-image
{
	position: relative;
	max-height: 300px;
}
.article .featured-image img {
	width: 100%;
	display: block;
	max-height: 300px;
}
.article .youtube-embed-wrapper
{
	margin-bottom: 1em;
}
.article .info {
	padding: 7px 14px;
}
.article .info .title {
	color: #428BCA;
	font-size: 25px;
	line-height: 30px;
	margin-bottom: 7px;
	font-weight: 400;
}
.article .info .desc {
	border-top: 1px solid #cccccc;
	padding: 7px 0;
	margin: 7px 0;
	text-align: justify;
	text-justify: inter-word;
}
.article .content {
	padding: 0 14px;
}
.article .tags ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.article .tags ul li {
	background: #428BCA;
	float: left;
	padding: 2px 0;
	margin: 0 7px 7px 0;
}
.article .tags ul li.ea {
	background: #ac6a30;
	float: left;
	padding: 2px 0;
	margin: 0 7px 7px 0;
}
.article .tags ul li.steamplay {
	background: #928d44;
	float: left;
	padding: 2px 0;
	margin: 0 7px 7px 0;
}
.article .tags > a.ea
{
	color: #ac6a30;
}
.article .tags > a.steamplay
{
	color: #928d44;
}
.article .tags ul li a {
	color: #ffffff;
	padding: 4px 7px;
}
.article .bottom-meta
{
	padding: 14px 14px 0px 14px;
	border-top: 1px solid #cccccc;
}
.article .bottom-meta ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.article .bottom-meta ul li {
	float: left;
	margin: 0 7px 7px 0;
}
.article .bottom-meta ul li a {
	background: #ffffff;
	float: left;
	padding: 5px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.article .bottom-meta ul li a:hover {
	background-color: #428BCA;
}
.article .share {
    padding: 0px 14px 7px;
    line-height: 47px;
}

.article .share > span {
    background: none repeat scroll 0% 0% #428BCA;
    color: #FFF;
    font-weight: 800;
    padding: 7px 8px 10px 8px;
    padding: none;
    width: auto;
    box-shadow: 0px -4px rgba(0, 0, 0, 0.1) inset;
}
.article .share span img {
    height: 18px;
    margin-bottom: -3px;
}

/* Home Page */
#main-article {
	background: #333;
	z-index: 1;
}
#main-article .article {
	position: relative;
	margin: 0;
}
.articles .article .info {
	float: left;
}
.featured-title
{
	position: absolute;
	bottom: 0;
	background-color:rgba(0, 0, 0, 0.5);
	width: 100%;
	color: #fff;
}
.featured-title-text {padding: 5px; font-weight: bold;}
.featured-title a {color: #fff; display: block;}
.rss-home {padding-left:5px;}

/* Individual Article Page */
.article.individual .info {
	border-bottom: 1px solid #CCC;
	margin-bottom: 7px;
}
.article.individual .tags {
	border-top: 1px solid #cccccc;
	padding: 14px;
	font-size: 12px;
}
.article.individual.no-image .info {
	padding: 0px 0px 27px 170px;
	background-repeat: no-repeat;
    background-position: left bottom;
    background-color: #ffffff;
	background-image: url('/templates/default/images/article-discussion.png');
	background-image: url('/templates/default/images/article-discussion.svg'), none;
	border: none;
	min-height: 150px;
}
.article.individual.no-image .info .bubble {
	background: #efefef;
	padding: 7px;
	-webkit-border-radius: 3px;
	 -khtml-border-radius: 3px;
	   -moz-border-radius: 3px;
		-ms-border-radius: 3px;
		 -o-border-radius: 3px;
			border-radius: 3px;
}
.article.individual > .pagination {
        border-top: 1px solid #cccccc;
        padding: 14px 14px 7px 14px;
}
.article.individual .tags {
        border-top: 1px solid #cccccc;
        padding: 14px 14px 7px 14px;
}
/* Comments */
.comments {
	margin: 7px auto;
}
.comments .head a {
	color: #ffffff;
}
.comments .body {
	padding: 0;
	margin: 0;
}
#comments-background {background: #fff;}

.comment {
	margin-bottom: 7px;
	border: 1px solid #dbdbdb;
	background: #efefef;
}
.comment.mod_queue
{
	margin-bottom: 0px;
}
.comment.blocked-comment {
	margin-bottom: 0px;
}
.comment .comment-meta.blocked-comment {
	margin-bottom: 0px;
}

.comment .comment-meta {
	background: #e5e5e5;
	padding: 7px 14px;
	margin-bottom: 7px;
	position: relative;
}
	.comment .distro {
        width: 20px;
        padding: 3px;
        margin-right: 2px;
        vertical-align: sub;
		-webkit-border-radius: 3px;
		 -khtml-border-radius: 3px;
		   -moz-border-radius: 3px;
			 -o-border-radius: 3px;
				border-radius: 3px;
	}
	.comment .comment-meta .comment-post {
		float: left;
	}
    .comment .comment-meta .comment-actions {
        float: right;
    }
    .comment .comment-meta .comment-actions ul {
        float: left;
        padding: 0;
        margin: 0;
        list-style: none;
    }
	.comment .comment-meta .comment-actions li {
		float: left;
		margin: 0 3px 0 0;
		padding: 0;
		text-align: center;
		line-height: 21px;
	}
	.comment .comment-meta .comment-actions li a {
		background: #ffffff;
		float: left;
        padding: 5px;
		-webkit-border-radius: 3px;
		 -khtml-border-radius: 3px;
		   -moz-border-radius: 3px;
			 -o-border-radius: 3px;
				border-radius: 3px;
	}
	.comment .comment-author {
		float: left;
		text-align: center;
		width: 125px;
		margin-left: 14px;
	}
	.comment img.avatar {
		width: 100%;
		-webkit-border-radius: 3px;
		 -khtml-border-radius: 3px;
		   -moz-border-radius: 3px;
			 -o-border-radius: 3px;
				border-radius: 3px;
	}
	.comment .comment-author ul {
		list-style: none;
		padding: 0;
	}
	.comment .comment-author ul li {
		display: inline;
		margin: 0;
		padding: 0;
	}
	.comment .comment-badges {
        margin: 7px 0 0;
    }
    .comment .comment-badges .badge {
       display: block;
   }

    .comment ul.comment-badges li {
        margin-bottom: 7px;
        float: left;
        width: 100%;
    }
	.comment .comment-social {
		margin-top: 7px;
	}
	ul.comment-social:after {
	    content: " ";
	    display: block;
	    clear: both;
	}
	.comment-social li {
	    float: left;
	}
	.comment .comment-social li a {
		background: #ffffff;
		padding: 3px;
		margin-right: 3px;
		margin-bottom: 3px;
		-webkit-border-radius: 3px;
		 -khtml-border-radius: 3px;
		   -moz-border-radius: 3px;
			 -o-border-radius: 3px;
				border-radius: 3px;
	 display: inline-block;
	}
	.comment .comment-social li a img {
		width: 16px;
		height: 16px;
		line-height: 16px;
	}
	.comment .comment-body {
		margin-left: 155px;
		margin-right: 10px;
	}
	.comment .comment-body.mod_queue
	{
		margin-left: 10px;
	}
    .comment .comment-quote {
        display: none;
    }
.comment .comment-body blockquote {
    margin: 0 0 14px 0;
}
	.morecontent {display: none;}
.comment .comment-meta .comment-actions li a:hover, .comment .comment-social li a:hover {background: #428BCA;}

/* for highlighting a directly linked comment */
a:target + div.comment {border-color: #428BCA;}
a:target + div.comment .comment-meta {background-color: #428BCA; color: white;}
a:target + div.comment .comment-meta a:link, a:target + div.comment .comment-meta a:visited {color:white;}

.badge {
    background: #333333;
    color: #ffffff;
    font-size: 80%;
    padding: 3px;
    -webkit-border-radius: 3px;
     -khtml-border-radius: 3px;
       -moz-border-radius: 3px;
         -o-border-radius: 3px;
            border-radius: 3px;
}
.badge a:link, .badge a:visited {
    color: #ffffff;
}
.badge.pale-green {
    background: #5cb85c;
}
.badge.red {
	background: #B20000;
}
.badge.orange {
    background: #f0ad4e;
}
.badge.blue {
    background: #006EA1;
}
.badge.green {
    background: #04B404;
}
.badge.yellow {
    background: #ccb845;
}
.badge.purple {
    background: #4b367c;
}

/* Social Networks */
ul.social-networks {
	list-style: none;
	padding: 0;
}
ul.social-networks li {
	background: #333333;
	float: left;
	margin-right: 1px;
	margin-bottom: 1px;
	padding: 0;
}
ul.social-networks li:hover {
	background: #444444;
}
ul.social-networks li > a {
	display: inherit;
	padding: 14px;
}

/* profile */

.profile .profile_info {
	float: left;
	margin-left: 10px;
}

.profile .avatar {
	float: left;
}

.profile span.icon {
	display: inline-block;
}

.user_avatar
{
	max-height: 125px;
	max-width: 125px;
}

/*
 * ------------------------------
 * Control panels
 * ------------------------------
 */
.input-field {
  display: flex;
  white-space: nowrap;
  vertical-align: bottom;
	background: #fff;
	position: relative;
	vertical-align: middle;
	width: 100%;
	min-width: 16px;
	border: 1px solid #ddd;
	border-radius: .2em;
	box-sizing: border-box;
}
.input-field .addon {
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	background: #d8d8d8;
}
.input-field input {
  padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
  margin: 0;
  border: 0;
  resize: none;
	flex: 1;
}
.input-field:hover {border: 1px solid #05c9f0;}

/* GOTY */
.goty_categories 
{
	width: 100%; 
	display: grid;
	/* Define Auto Row size */
	grid-auto-rows: auto; 
	/*Define our columns */
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
	grid-gap: 1em;
	box-sizing: border-box;
}

.box .votebutton {
	float: right;
}

.remove_vote {
	float: right;
}

/* Support us page */
.flex-columns  {
	display: flex;
	flex-wrap: wrap;
}
.flex-columns .flex-column-item {
	flex: 1 0 250px;
	box-sizing: border-box;
	padding: 10px;
	margin-left: 10px;
	margin-top: 10px;
}

/* Forum */
.post_row {
	float:left;
	width:100%;
	position:relative;
	background:#efefef; /* column 1 background colour */
	margin-bottom: 5px;
	border-bottom: 1px solid #d3d3d3;
}
.forum_avatar_holder {
	float:left;
	width:50px;
	position:relative;
	overflow:hidden;
}
.post_info_container
{
	width: 100%;
	position:relative;
}
.forum_post_info {
	float:left;
	width:70%;
	position:relative;
	left:5px;
	overflow:hidden;
}
.forum_last_post {
	float:left;
	width:20%;
	position:relative;
	overflow:hidden;
}
.forum-badge a {color: #fff;}
#create-poll{display: none;}
.poll_button{float: none ;}
.poll_content{padding: 4px;}

/* Icons */
.social_icons_search
{
	display: inline-block;
}
.social_icons_search ul
{
	display: inline;
	list-style: none;
	padding: 0;
}
.social_icons_search li
{
	display: inline;
	margin: 0;
	padding: 0;
}
.social_icons_search li a
{
	background: #ffffff;
	padding: 3px;
	margin-right: 3px;
	margin-bottom: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
}
.icon {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    display: block;
    width: 16px;
    height: 16px;
    color: transparent;
    overflow: hidden;
    cursor: pointer;
}
.icon.inline {
	/* FIXME: All icons should be inline block, but that appears to mess with margins*/
	display: inline-block;
	top: 3px;
	left: 1px;
	position: relative;
	margin-right: 3px;
}
.icon.website {
    background-image: url('/templates/default/images/network-icons/website.svg');
}
.icon.twitter {
    background-image: url('/templates/default/images/network-icons/twitter.svg');
}
.icon.google-plus {
    background-image: url('/templates/default/images/network-icons/google-plus.svg');
}
.icon.youtube {
    background-image: url('/templates/default/images/network-icons/youtube.svg');
}
.icon.facebook {
    background-image: url('/templates/default/images/network-icons/facebook.svg');
}
.icon.twitch {
    background-image: url('/templates/default/images/network-icons/twitch.svg');
}
.icon.mastodon {
    background-image: url('/templates/default/images/network-icons/mastodon.svg');
}
.icon.gog {
    background-image: url('/templates/default/images/network-icons/gog.svg');
}
.icon.steam {
    background-image: url('/templates/default/images/network-icons/steam.svg');
}
.icon.flag {
    background-image: url('/templates/default/images/comments/flag.svg');
}
.icon.link {
    background-image: url('/templates/default/images/comments/link.svg');
}
.icon.quote {
    background-image: url('/templates/default/images/comments/quote.svg');
}
.icon.like {
    background-image: url('/templates/default/images/comments/like.svg');
}
.icon.unlike {
    background-image: url('/templates/default/images/comments/unlike.svg');
}
.icon.edit {
    background-image: url('/templates/default/images/comments/edit.svg');
}
.icon.delete {
    background-image: url('/templates/default/images/comments/delete.svg');
}
.icon.block {
    background-image: url('/templates/default/images/comments/block_user.svg');
}
.icon.envelope {
    background-image: url('/templates/default/images/comments/envelope.svg');
}
.icon.envelope-open {
    background-image: url('/templates/default/images/comments/envelope-open.svg');
}
.icon.bookmark {
    background-image: url('/templates/default/images/comments/bookmark.png');
		background-size: 10px 14px;
}
.icon.plus {
    background-image: url('/templates/default/images/comments/plus.svg');
		background-size: 10px 14px;
}
.icon.minus {
    background-image: url('/templates/default/images/comments/minus.svg');
		background-size: 10px 14px;
}
.bookmark-saved {background-color: yellow !important;}

/* ITEMS DATABASE */
.database_stores li {display: inline;}
.database-extra{float: right; background-color: #D7D7D7; padding: 10px; width: 250px; box-sizing: border-box;}
.database-extra ul {display: inline;list-style-type: none; padding: 0; margin: 0;}
.database-extra ul li {padding: 0px;}

/* FANCYBOXES */
.pc_info_div {
	width: 70%;
	max-width: 800px;
	max-height: 600px;
}
.tagline_gallery_div{
	width: 80%;
	height: 80%;
}
.tagline_gallery_div .fancybox-close-small
{
	top: 0;
	right: 0;
	position: fixed;
}
.modal-container {
	width: 60%;
	padding: 0;
	margin: 20px 0;
	border-radius: .3em;
	box-shadow: 0 0.1em 0.4em rgba(0,0,0,.3);
	background-color: #222;
  }

  .modal-container .fancybox-close-small
  {
	background-color: #efefef;
	opacity: 1;
	height: 38px;
  }
  
  .modal-title {
	background-color: #222;
	color: #fff;
	font-weight: 700;
	padding: 7px 10px;
  }

  .modal-title a {color: white;}
  
  .modal-body {
	max-height: calc(100vh - 230px);
	min-height: 50px;
	max-width: 100%;
	padding: 0 1.5em 1.5em 1.5em;
	overflow-y: auto;
	background-color: #efefef;
  }

/* Responsive CSS */
@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
		.masonry-support-us {
				-moz-column-count: 2;
				-webkit-column-count: 2;
				column-count: 2;
		}
}

@media only screen and (min-width: 900px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
		.masonry-support-us {
				-moz-column-count: 3;
				-webkit-column-count: 3;
				column-count: 3;
		}
}

@media only screen and (min-width: 1100px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

/* DESKTOP */
@media only screen and (min-width: 1200px) {
	.container {
		width: 1136px;
	}
}
/* WIDESCREEN */
@media only screen and (min-width: 1400px) {
	.container {
		width: 1300px;
	}
}
/* DESKTOP */
@media only screen and (max-width: 1200px) {
}
/* LANDSCAPE TABLET/NETBOOK/LAPTOP */
@media only screen and (max-width: 1024px) {
	.container {
		width: 100%;
	}
}

/* for the searchbar */
@media only screen and (max-width: 855px) {
	.header-search {display: none;}
	#search-button-nav {display: block;}
}
@media only screen and (min-width: 854px) {
	.header-search {display: block;}
	#search-button-nav {display: none;}
}

/* Above tablet */
@media only screen and (min-width: 806px) {
    .articles .article .image {
        float: left;
        width: 40%;
    }
    .articles .article .info {
        float: left;
        width: 55%;
    }
    .quick-nav-slider {display: none;}
    .tag-slider {display: none;}
}

/* TABLET/NETBOOK */
@media only screen and (max-width: 806px) {
	.forum_post_info{width: 100%;}
	.last_post{display: none;visibility: hidden;}
	ul.pagination_small{display: none;visibility: hidden;}
	.forum_avatar_holder{display: none;visibility: hidden;}
	.container {
		width: 100%;
	}
	#content .col-9 {
		margin-bottom: 7px;
	}
  .navigation-main #extra {
        display: none;
  }
	.article_bbcode img{width: 100%; max-width: 100% !important;}
	.article_bbcode .tagline {margin-left: 0px !important;}
	.hide-small{display:none;}
	#navigation-mobile {display: block;}
	.quick-nav-slider {display: inline;}
	.quick-tags {display: none;}
	.modal-container 
	{
		width: 90%;
	}
}
/* SMALL TABLET */
@media only screen and (max-width: 600px) {
	#footer #about, #footer #social, #footer #footer-sub, #footer #footer-sub #copy, #footer #footer-sub {
		text-align: center;
	}
	#footer #about {
		margin-bottom: 14px;
	}
	#footer #social ul {
		margin: 0px auto;
		width: 225px;
	}
	#footer #footer-sub #copy {
		margin-bottom: 14px;
	}

	.head-list-position {float: left; margin-top: 5px;}

	.article.individual.no-image .info {
		padding: 14px;
		background: none;
		border-bottom: 1px solid #cccccc;
		min-height: 50px;
	}
	.article.individual.no-image .info .bubble {
		background: none;
		padding: 0;
		-webkit-border-radius: 3px;
		 -khtml-border-radius: 3px;
		   -moz-border-radius: 3px;
			-ms-border-radius: 3px;
			 -o-border-radius: 3px;
				border-radius: 3px;
	}
}
/* MOBILE LANDSCAPE */
@media only screen and (max-width: 480px) {
	.hide-xsmall{display:none;}
	/* Comments */
	.comment .comment-body {
		margin-left: 7px;
	}
	.database-extra {width: 100%; clear: both; max-width: 100%;}
	.chartjs-container{min-height: 200px;}
}
/* MOBILE PORTRAIT */
@media only screen and (max-width: 320px)
{
	.header-navbar>.gol-icon>a {
		line-height: 0;
		padding: 9px 3px !important;
	}
	.goty_categories 
	{
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
	}
}
/* LANDSCAPE ORIENTATION */
@media only screen and (orientation: landscape) {

}
/* PORTRAIT ORIENTATION */
@media only screen and (orientation: portrait) {

}

/* liam additions */
th, td { vertical-align: top; }
.link_button {
    background: #474747;
    color: #ffffff;
    padding: 3px;
    -webkit-border-radius: 3px;
     -khtml-border-radius: 3px;
       -moz-border-radius: 3px;
         -o-border-radius: 3px;
            border-radius: 3px;
}

.button_link{
	background: #f9f9f9;
	border: 1px solid #dddddd;
	color: #404040 !important;
	cursor: pointer;
	font-weight: 400;
	font-size: 13px;
	padding: 7px 14px 9px 14px !important;
	text-decoration: none;
	width: auto;
	box-shadow: inset 0 -3px rgba(0, 0, 0, 0.1);
}

div.announce:nth-of-type(odd) {background: #609FA9; margin-bottom: 7px; color: #000}
div.announce:nth-of-type(even) {background: #99CCFF; margin-bottom: 7px; color: #000}
.announce a {color: #323232; font-style: italic;}
.announce a:link {color: #323232; font-style: italic;}
.vote_done {color: white; background-color: green;}

/* GOL Charts */
.golgraph{display: block; margin-left:auto; margin-right:auto;}

.golsvg_title {fill: white;}
.golsvg_subtitle{fill: black;}

.golsvg_counters {fill: black}
.golsvg_minmax {fill: white; stroke: none;}

.patreon {
	margin-top: 14px;
	line-height: 30px;
}
.patreon_comments {
	border-top: 1px solid rgb(90, 215, 253);
}
.preview_pm{display: none;}
.register-warning {
	color:#d2232a;
	background-color:#ffdd97;
	width:100%;
	display:none;
}
.all-ok {
	color:#33FF33;
	background-color:#333333;
	width:100%;
	display:none;
	padding: 5px;
}
.input-alert-text {padding: 5px 5px 5px 5px;}
/* fix fancybox going under the navbar */
.fancybox-wrap {
	 position: absolute;
	 top: 0;
	 left: 0;
	 padding: 20px;
	 z-index: 9999;
	 outline: none;}
.article_bbcode {border: 1px solid #ccc; border-radius: 5px; padding: 5px; margin-bottom: 10px; width: 100%;}
.article_bbcode img {margin-right: 15px;
    float: left;
	max-width: 100px;
}
.article_bbcode .tagline {margin-left: 115px;}
.profile-comments-heart {display: inline-block; background-size: 14px; cursor: default; background-position: bottom center;}
a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}
.scrollbox {
  height:100px;
  overflow:auto;
}
.table-stripes {border-collapse: collapse;}
.table-stripes tr:nth-child(even) {background: #e5e5e5}
.table-stripes tr:nth-child(odd) {background: #FFF}

/* social login buttons */
.btn-auth{
	position: relative;
    display: inline-block;
    height: 22px;
    padding: 0.5em 0.5em;
    border: 1px solid #999;
    border-radius: 2px;
    margin: 0;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    white-space: nowrap;
    cursor: pointer;
}
.btn-icon {
	float: left;
	height: 22px;
	padding-right: 5px;
	padding-left: 5px;
	border-right: 1px solid #CCCCCC;
    margin: 0 5px 0 -0.4em;
    background-position: 0 0;
}
.btn-icon img {
	height: 22px;
}
.btn-steam, .btn-steam:link, .btn-steam:visited, .btn-steam:active {
	color: #FFFFFF;
	background: #878787;
	border-color:#292929;
}
.btn-steam:hover {
	color: #FFFFFF;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.btn-google, .btn-google:link, .btn-google:visited, .btn-google:active {
	color: #fff;
	background: #4787ed;
	border-color:#6b1301;
}
.btn-google:hover {
	color: #fff;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.btn-twitter, .btn-twitter:link, .btn-twitter:visited, .btn-twitter:active {
	color: #FFFFFF;
	background: #00aced;
	border-color:#043d52;
}
.btn-twitter:hover {
	color: #FFFFFF;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
#article_preview {display:none;}
.admin_article_preview_box {border: 1px solid #999999; padding: 2px;}
.likes {line-height: 1.5;
border-left: 2px solid #bdbdbd;
font-size: .85rem;
padding: 4px 7px;
clear: both;
background: #DFDFDF; /* For browsers that do not support gradients */
background: linear-gradient(to left, rgba(223,223,223,0), rgba(223,223,223,1));
}

.likes_hidden{display:none;}
.article_likes
{
	font-size: 12px;
	padding: 4px 7px;
	clear: both;
	background: #DFDFDF; /* For browsers that do not support gradients */
	background: linear-gradient(to left, rgba(223,223,223,0), rgba(223,223,223,1));
}
.gol_twitch{display: none;}
div.gol_twitch .twitch_announce{background-color: #4b367c; color: #fff; font-style: italic;}
div.gol_twitch .twitch_announce a, div.gol_twitch .twitch_announce a:link {color: #ffffff; font-style: normal; text-decoration: underline;}
div.gol_twitch .twitch_announce a.remove_announce {text-decoration: none;}

/* GAMES DB */
.filter-link {color: #000; font-weight: bold; cursor: pointer;}

/* sales page */
.bundle-row:hover {background-color: #D2D2D2;}
.sales-options {border-bottom: 1px solid rgb(177, 177, 177);}
.sales-table{border-spacing: 0px;}
.edit-sale-icon{display: inline-block; background-size: 10px 10px;}

/* free games page */
.table-stripes-tbody {border-collapse: collapse;}
.table-stripes-tbody tbody tr:nth-child(even) {background: #e5e5e5}
.table-stripes-tbody tbody tr:nth-child(odd) {background: #FFF}
.td-free-games-tags {padding-top: 0px;}

/* calendar */
.calendar-table {border-collapse: collapse;}
.calendar-day {background: rgb(190, 190, 190); text-align: center;}
#calendar_today {background: rgb(117, 193, 255); font-weight: bold;}
.calendar-items tr {border-bottom: 1px solid rgb(190, 190, 190);}
.calendar-items tr:last-child {border-bottom: 0;}
.calendar-items tr:nth-child(even) {background: #e5e5e5}
.calendar-items tr:nth-child(odd) {background: #FFF}

.chartjs-container{min-height: 450px;}

/* timeline */

  .timeline-margin-adjust {margin-bottom: 0px;}

  /* The actual timeline (the vertical ruler) */
  .timeline {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
  }

  /* The actual timeline (the vertical ruler) */
  .timeline::after {
	content: '';
	position: absolute;
	width: 6px;
	background-color: #efefef;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
	box-sizing: border-box;
  }

  /* Container around content */
  .timeline-container {
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
	width: 50%;
	box-sizing: border-box;
  }

  /* The circles on the timeline */
  .timeline-container::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	right: -17px;
	background-color: white;
	border: 4px solid #9CF;
	top: 15px;
	border-radius: 50%;
	z-index: 1;
  }

  /* Place the container to the left */
  .container-left {
	left: 0;
  }

  /* Place the container to the right */
  .container-right {
	left: 50%;
  }

  /* Add arrows to the left container (pointing right) */
  .container-left::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	right: 30px;
	border: medium solid #eee;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent #eee;
	box-sizing: border-box;
  }

  /* Add arrows to the right container (pointing left) */
  .container-right::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	left: 30px;
	border: medium solid #eee;
	border-width: 10px 10px 10px 0;
	border-color: transparent #eee transparent transparent;
	box-sizing: border-box;
  }

  /* Fix the circle for containers on the right side */
  .container-right::after {
	left: -16px;
  }

  /* The actual content */
  .container-content {
	padding: 20px 30px;
	background-color: #eee;
	position: relative;
	border-radius: 6px;
	box-sizing: border-box;
  }

  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
  /* Place the timelime to the left */
	.timeline::after {
	  left: 31px;
	}

  /* Full-width containers */
	.timeline-container {
	  width: 100%;
	  padding-left: 70px;
	  padding-right: 25px;
	  box-sizing: border-box;
	}

  /* Make sure that all arrows are pointing leftwards */
	.timeline-container::before {
	  left: 60px;
	  border: medium solid #eee;
	  border-width: 10px 10px 10px 0;
	  border-color: transparent #eee transparent transparent;
	  box-sizing: border-box;
	}

  /* Make sure all circles are at the same spot */
	.container-left::after, .container-right::after {
	  left: 15px;
	}

  /* Make all right containers behave like the left ones */
	.container-right {
	  left: 0%;
	}
  }

.affiliate_meta{margin-bottom: 0px;}

#cookie_warning {
	bottom: 0px;
	width: 100%;
	background: linear-gradient(to bottom, rgba(30,30,30,0.95) 0, rgba(0,0,0,0.95) 100%);
	display: none;
	left: 0;
    line-height: 1.5;
    margin: 0;
	padding: 3px;
	box-sizing: border-box;
    position: fixed;
    width: 100%;
	z-index: 9999;
	color: white;
}
#cookie_warning a:link, #cookie_warning a:visited, #cookie_warning a:active {
	color: white;
    border-bottom: 1px dotted #eee;
    text-decoration: none;
}
span.cookie_action
{
	float: right;
}
/* youtube cookie acceptance */
.hidden_video
{
	position: relative;
	text-align: center;
	min-height: 50px;
	width: 90%;
	margin: auto;
	border: 1px solid rgb(138, 138, 138);
	background: rgb(223, 223, 223);
}

.uploads
{
	max-height: 500px;
	overflow: auto;
}
/* Slider checkbox */
.slider-container
{
	display: flex;
	align-items: center;
	/* align vertical */
}
.switch
{
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
  .switch input {display:none;}

/* The slider */

.slider
{
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 34px;
}

.slider:before
{
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 50%;
}

input:checked + .slider
{
	background-color: #2196F3;
}

input:focus + .slider
{
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before
{
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}
.hidden_comment {display: none;}
.filter-content .hidden {display: none;}

.comments-pip {
    position: relative;
    float: right;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
	line-height: 1;
}

.comments-pip a {
    color: #fff;
    background-color: #474747;
    display: inline-block;
    min-width: 15px;
    padding: 4px 4px 4px 5px;
    position: relative;
}

.comments-pip a:after {
    position: absolute;
    bottom: -3px;
    left: 0;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3px 3px 0 0;
	border-color: #474747 transparent;
}
/* for stolen content */
.hidden_message {display: none;}

@media (prefers-color-scheme: dark) 
{
	@import 'dark';
}

.give-border
{
	max-width: 90%;
}

.itemdb-media-container {text-align: center;}

.gamesdbbutton 
{
	padding: 5px 10px;
	border-radius: 2px;
	font-weight: bold;
	outline: none;
	width: 100%; 
	color: white;
	background: #4c8ffb;
	border: 1px #3079ed solid;
	box-shadow: inset 0 1px 0 #80b0fb;
	box-sizing: border-box;
	text-align: center;
}

.gamesdbbutton a {display: block;}
.gamesdbbutton a:link, .gamesdbbutton a:visited, .gamesdbbutton a:active {color: white;}

.gamesdbbutton:hover 
{
	border: 1px #2f5bb7 solid;
	box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #5a94f1;
	background: #3f83f1;
	color: white;
}
  
.gamesdbbutton:active 
{
	box-shadow: inset 0 2px 5px #2370fe;
}