[block: add]
			<div class="box">
				<div class="head">Add a GOTY game</div>
				<div class="body group">Add a missing game here<br />
				<form method="post">Name: <input type="text" name="name" /> Category: <select name="category">{:options}</select> <button type="submit" formaction="{:url}admin.php?module=goty" name="act" value="add">Add Game</button></form></div>
			</div>
[/block: add]

[block: submitted_top]
<div class="box"><div class="head">A list of user submitted GOTY nominations</div></div>
[/block: submitted_top]

[block: submitted_row]
<div class="box"><div class="body group">
<form method="post" action="{:url}goty.php&game_id={:id}">
<strong>Name:</strong> {:game_name}<br />
<strong>Category:</strong> <a href="/goty.php?module=category&amp;category_id={:category_id}">{:category_name}</a>
<div class="gotyadminbuttons fright">
	<button type="submit" formaction="{:url}admin.php?module=goty" name="act" value="accept" class="fnone">Accept Game For Voting</button>
	<button type="submit" formaction="{:url}admin.php?module=goty" name="act" value="deny" class="fnone">Deny Game For Voting</button>
</div>
<input type="hidden" name="id" value="{:id}" />
</form>
</div></div>
[/block: submitted_row]

[block: manage_category]
<div class="box"><div class="head">Please select a GOTY category to view first</div></div>
[/block: manage_category]

[block: category_manage_row]
<div class="box">
	<div class="body group">
		<a href="/admin.php?module=goty&view=manage&id={:category_id}">{:category_name}</a>
	</div>
</div>
[/block: category_manage_row]

[block: manage_top]
<div class="box"><div class="head">A list of all the accepted GOTY nominations</div></div>
[/block: manage_top]

[block: manage_row]
<div class="box">
	<div class="body group">
		<form method="post" action="{:url}goty.php&game_id={:id}">
			<strong>Name:</strong> {:game_name} <br />
			Category: <select name="category">{:options}</select> <button type="submit" formaction="{:url}admin.php?module=goty" name="act" value="edit" class="fnone">Edit</button> <button type="submit" formaction="{:url}admin.php?module=goty" name="act" value="delete" class="fnone">Delete</button>
			<input type="hidden" name="id" value="{:id}" />
		</form>
	</div>
</div>
[/block: manage_row]

[block: config]
<div class="box">
	<div class="head">GOTY Config</div>
	<div class="body group">
	<form class="gol-form" method="post">
		<label>Page Open? <input type="checkbox" name="page_open" {:page_check}/></label><br />
		<label>New game submissions open? <input type="checkbox" name="games" {:games_check}/></label><br />
		<label>Voting open? <input type="checkbox" name="voting" {:voting_check}/></label><br />
		<label>Votes per category <input type="number" name="votes_per_category" value="{:votes_per_category}" /><br /></label>
		<button class="fnone" name="act" value="config">Edit</button> {:end_awards}
	</form>
	</div>
</div>
[/block: config]

[block: config_category_top]
<div class="box">
	<div class="head">GOTY Categories</div>
	<div class="body group">
		<form method="post">
			Name: <input type="text" name="category" /><br />
			Description: <input type="text" name="description" /><br />
			<label><input type="checkbox" name="is_group" /> Make it a group?</label><br />
			<em>This will make it a top-level category for others to be inside.</em><br />
			Group: <select name="group_id"><option value="0">None</option>{:group_options}</select><br />
			<button name="act" value="add_category" formaction="/admin.php?module=goty" type="submit">Add Category</button>
		</form>
	</div>
	<div class="subhead">Current GOTY Categories</div>
</div>
[/block: config_category_top]

[block: config_category_row]
<div class="box">
	<div class="body group">
		<form method="post">
			<form method="post">
				Name: <input type="text" name="category" value="{:category}" /><br />
				Description: <input type="text" name="description" value="{:description}" /><br />
				<label><input type="checkbox" name="is_group" {:group_check} /> Make it a group?</label><br />
				<em>This will make it a top-level category for others to be inside.</em><br />
				Group: <select name="group_id">{:group_options}</select><br />
				<input type="hidden" name="cat_id" value="{:cat_id}" />
				<button name="act" value="edit_category" formaction="/admin.php?module=goty" type="submit">Edit Category</button> <button name="act" value="delete_category" formaction="/admin.php?module=goty" type="submit">Delete Category</button>
		</form>
	</div>
</div>
[/block: config_category_row]

[block: category_top]
<div class="box">
	<div class="head">Pick your category!</div>
</div>
<div class="goty">
[/block: category_top]

[block: category_row]
<div class="box">
	<div class="body group">
		<a href="/admin.php?module=goty&view=top10&category_id={:category_id}">{:category_name}</a>
	</div>
</div>
[/block: category_row]

[block: category_bottom]
</div>
[/block: category_bottom]

[block: game_list]
<div class="box">
	<div class="head">Here's the current top10 for {:name}</div>
</div>
<div class="goty">
[/block: game_list]

[block: game_row]
<div class="col-4">
<div class="box"><div class="body group">
{:game_name}<br />
{:votes}
{:leaderboard}
</div></div>
</div>
[/block: game_row]

[block: games_bottom]
</div>
<br class="clearer" />
[/block: games_bottom]

[block: topchart]
{:chart}
[/block: topchart]
