[block: add]
<div class="box"><div class="body group">The article will not be set to featured until you upload an image for it below!</div></div>
<div class="box">
	<div class="head">Featured Image Uploader</div>
	<div class="body group">
		Add a new featured image for:<br />
		"{:article_title}"<br />
		<br />
	<form method="post" action="/admin.php?module=featured" enctype="multipart/form-data" id="something">
	Must be {:max_width} width, {:max_height} height. Max of 300kb!<br />
	<input name="new_image" id="new_image" size="30" type="file" class="fileUpload" /><br />
	End Date (UTC): <br />
	<input name="end_date" id="datetimepicker" type="text" value="" autocomplete="off" />
	<script>
	var timepicker = new Pikaday(
		{
			field: document.getElementById('datetimepicker'),
			firstDay: 1,
			minDate: new Date(),
			maxDate: new Date({:next_year}),
			yearRange: [{:start_year},{:next_year}],
			showTime: true,
			autoClose: false,
			use24hour: false
		});</script>
	<input type="hidden" name="article_id" value="{:article_id}" />
	<button type="submit" name="act" value="add" class="btn btn-primary">Upload &amp; Activate</button>
	</form>
	</div>
</div>
[/block: add]

[block: manage_top]
<div class="box"><div class="head">Manage the picture Carousel here.</div></div>
[/block: manage_top]

[block: manage_item]
<div class="box">
<form method="post" action="/admin.php?module=featured" enctype="multipart/form-data" id="something">
	<div class="head">{:title}</div>
	<div class="body group">
	{:current_image}
	Carousel Image (Must be {:max_width} width, {:max_height} height). Max of 55kb!<br />
	<input name="new_image" id="new_image" size="30" type="file" class="fileUpload" /><br />
	End Date (UTC): <br />
	<input name="end_date" id="datetimepicker{:article_id}" type="text" value="{:end_date}" autocomplete="off" />
	<script>
		var timepicker = new Pikaday(
			{
				field: document.getElementById('datetimepicker{:article_id}'),
				firstDay: 1,
				minDate: new Date(),
				maxDate: new Date({:next_year}),
				yearRange: [{:start_year},{:next_year}],
				showTime: true,
				autoClose: false,
				use24hour: false
			});</script>
	Total hits: {:hits}<br />
	<button type="submit" name="act" value="edit" class="btn btn-primary">Edit</button> <button type="submit" name="act" value="delete" class="btn btn-primary">Delete</button>
	<input type="hidden" name="article_id" value="{:article_id}" />
	</div>
</form>
</div>
[/block: manage_item]
