[block: form_top]
<form id="admin_comment" method="post">
[/block: form_top]

[block: form_bottom]
	<div class="box">
		<div class="body group">
			<strong>Subscribe to article comments?</strong><br />
			<em>You can <a href="/usercp.php?module=article_subscriptions">see all watched articles here</a>.</em><br />
			<label class="checkbox">
				<input type="checkbox" name="subscribe" {:subscribe_check} /> Subscribe to comments
			</label>
			<select name="subscribe-type"><option value="sub-only">Subscribe without emails</option><option value="sub-emails" {:subscribe_email_check}>Subscribe and get emailed</option></select><br />
			<input type="hidden" name="article_id" value="{:article_id}" />
			<input type="hidden" name="type" value="add" />
			<button id="send" class="admin_article_comment_button" onclick="setTimeout(disableFunction, 1);" type="button">Post Comment</button>
		</div>
	</div>
</form>
<a class="button_link" href="#top">Back to the top</a>
[/block: form_bottom]
